<!-- <h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Title</label>
            <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <option value=""></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Ms">Ms</option>
            </select>
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Title is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Role</label>
            <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                <option value=""></option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                <div *ngIf="f.role.errors.required">Role is required</div>
            </div>
        </div>
    </div>
    <div *ngIf="!isAddMode">
        <h3 class="pt-3">Change Password</h3>
        <p>Leave blank to keep the same password</p>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/order" class="btn btn-link">Cancel</a>
    </div>
</form> -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong *ngIf="isAddMode">Add Order</strong>
                <strong *ngIf="!isAddMode">Edit Order</strong>
            </div>
            <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Order Date</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" formControlName="orderDate"
                                placeholder="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Name</label>
                        <div class="col-md-9">
                            <input type="text" id="name-input" name="text-input" class="form-control"
                                formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Symbol</label>
                        <div class="col-md-9">
                            <input type="text" id="symbol-input" name="text-input" class="form-control"
                                formControlName="symbol">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Volume</label>
                        <div class="col-md-9">
                            <input type="text" id="volume-input" name="text-input" class="form-control"
                                formControlName="volume">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Reason</label>
                        <div class="col-md-9">
                            <input type="text" id="reason-input" name="text-input" class="form-control"
                                formControlName="reason">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Investment Value</label>
                        <div class="col-md-9">
                            <input type="number" id="investment-input" name="text-input" class="form-control"
                                formControlName="investmentValue" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Ordered price</label>
                        <div class="col-md-9">
                            <input type="number" id="order-price-input" name="text-input" class="form-control"
                                formControlName="orderPrice">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Current price</label>
                        <div class="col-md-9">
                            <input type="number" id="current-price--input" name="text-input" class="form-control"
                                formControlName="currentPrice">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Market Value</label>
                        <div class="col-md-9">
                            <input type="text" id="marker-value-input" name="text-input" class="form-control"
                                formControlName="marketValue">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Gain/Loss</label>
                        <div class="col-md-9">
                            <input type="number" id="gain-loss-input" name="text-input" class="form-control"
                                formControlName="gainLoss">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Gain/Loss(%)</label>
                        <div class="col-md-9">
                            <input type="number" id="gain-loss-percentage-input" name="text-input" class="form-control"
                                formControlName="gainLossPercentage" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Done</label>
                        <div class="col-md-9">
                            <label class="switch switch-3d switch-primary">
                                <input class="switch-input" type="checkbox" formControlName="done">
                                <span class="switch-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Note</label>
                        <div class="col-md-9">
                            <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                                placeholder="Content.."></textarea>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button class="btn btn-sm btn-warning" routerLink="/orders"><i class="fa fa-ban"></i>
                        Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/.row-->