<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Orders</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Order Time</th>
            <th style="width: 10%">Name</th>
            <th style="width: 10%">Symbol</th>
            <th style="width: 10%">Invested Value</th>
            <th style="width: 10%">Ordered price</th>
            <th style="width: 10%">Current price</th>
            <th style="width: 10%">Market Value</th>
            <th style="width: 10%">Gain/Loss</th>
            <th style="width: 10%">Gain/Loss(%)</th>
            <th style="width: 10%">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orders">
            <td>{{item.orderDate | date: 'dd-MM-yyyy'}}</td>
            <td>{{item.name}}</td>
            <td>{{item.symbol}}</td>
            <td>{{item.investmentValue | heraCurrency}}</td>
            <td>{{item.orderPrice | heraCurrency}}</td>
            <td>{{item.currentPrice | heraCurrency}}</td>
            <td>{{item.marketValue | heraCurrency}}</td>
            <td>{{item.gainLoss | heraCurrency}}</td>
            <td>{{item.gainLossPercentage| percent}}</td>
            <td>{{item.done}}</td>
            <td style="white-space: nowrap">
                <a class="btn btn-sm btn-primary mr-1" routerLink="edit/{{item.id}}" >Edit</a>
                <button (click)="deleteOrder(item.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="item.isDeleting">
                    <span *ngIf="item.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!item.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="isLoading">
            <td colspan="10" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>